<div class="footer-content">
                <div class="footer-section">
                    <h4>&copy; 2025 Bricoccole Allevamento</h4>
                    <p class="footer-text">P.IVA: 12345678901</p>
                    
                </div>
                <div class="footer-section">
                    <p class="footer-text">+39 123 4567890</p>
                    <address class="footer-address">
                        Email: <a href="mailto:info@bricoccole.it">info@bricoccole.it</a>
                    </address>
                    <a href="login.html" class="footer-text">Area riservata</a>
                </div>
            </div>