/* Set font family as Monotype Corsiva from local folder /public/media/fonts */

@font-face {
    font-family: "Monotype Corsiva";
    src: url("../media/fonts/Monotype-Corsiva-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Improves loading performance */
}

@font-face {
    font-family: "Monotype Corsiva";
    src: url("../media/fonts/Monotype-Corsiva-Regular-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Monotype Corsiva";
    src: url("../media/fonts/Monotype-Corsiva-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monotype Corsiva";
    src: url("../media/fonts/Monotype-Corsiva-Bold-Italic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}